[mysqld]
# Basic Settings
user = mysql
port = $PORT
bind-address = $BIND_IP

# Custom Database Directory
datadir = $DATA_PATH
socket=$PREFIX/var/run/mysqld.sock

# Logging
log-error = $LOGS_PATH/$PACKAGE/error.log
slow-query-log = 1
slow-query-log-file = $LOGS_PATH/$PACKAGE/slow.log

# Performance Tweaks
innodb_buffer_pool_size = 256M
max_connections = 30
query_cache_size = 16M
query_cache_limit = 4M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 256M
innodb_flush_method = O_DIRECT

# Security Settings
# Disabling symbolic links is recommended to prevent security vulnerabilities
symbolic-links = 0